#!/usr/bin/make -f
%:
	dh $@

override_dh_clean:
	dh_clean
	find src/ -name '*.pdf' -delete
	find src/ -name '*.texi' -delete
	find src/ -name '*.1' -delete
	find src/ -name '*.html' -delete

override_dh_auto_test:
	# disable for the moment
